// CSS3 Colors variables
// ----------------------------------

:root {
    //--- Color theme
    --dotpeach-yellow: #FFCF58;
    --dotpeach-blue: #7BAEED;
    --dotpeach-purple: #D9C7FF;
    --dotpeach-pink: #F675B3;
    --link-color: #0a3a75; // Passe le test AA et AAA (gros texte) sur tous les fonds
    --pattern-bg: #D7ECE7;
    //--- Color theme
    // Refonte pair-aidance
    --dot-pink_bg: #FCEFF8;
    --dot-pink_active:#FFA5DE;
    --dot-blue_bg:#F2F7F9;
    --dot-blue_active:#B1C8F2;
    --dot-purple_bg:#F3EAFC;
    --dot-purple_active:#BA84FF;
    //--- Utilities
    --white: #fff;
    --text-color: #4A3C80;
    --background-global: #fff; 
    --link-color: #5094E7; // Passe le test AA et AAA (gros texte) sur tous les fonds
    --button-color: #3763fb; 
  }
  