// CSS3 Colors variables
// ----------------------------------

:root {
    //--- Color theme
    --dotpeach-yellow: #FFCF58;
    --dotpeach-blue: #7BAEED;
    --dotpeach-purple: #D9C7FF;
    --dotpeach-pink: #F675B3;
    --link-color: #0a3a75; // Passe le test AA et AAA (gros texte) sur tous les fonds
    --pattern-bg: #D7ECE7;
  
    //--- Utilities
    --white: #fff;
    --text-color: #303030;
    --background-global: #fff; 
    --link-color: #5094E7; // Passe le test AA et AAA (gros texte) sur tous les fonds
    --button-color: #3763fb; 
  }
  