// Abstracts - Fonts
//===================
// Fonts import and configuration

// @font-face {
//   font-family: 'Serif-Medium';
//   src: url('#{$font-path}/Serif-Medium.woff2') format('woff2'),
//       url('#{$font-path}/Serif-Medium.woff') format('woff'),
//       url('#{$font-path}/Serif-Medium.svg#Serif-Medium') format('svg');
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Serif-ExtraBold';
//   src: url('#{$font-path}/Serif-ExtraBold.woff2') format('woff2'),
//       url('#{$font-path}/Serif-ExtraBold.woff') format('woff'),
//       url('#{$font-path}/Serif-ExtraBold.svg#Serif-ExtraBold') format('svg');
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: 'Pridi-Bold';
  src: url('#{$font-path}/Pridi-Bold.woff2') format('woff2'),
      url('#{$font-path}/Pridi-Bold.woff') format('woff'),
      url('#{$font-path}/Pridi-Bold.svg#Pridi-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pridi-Medium';
  src: url('#{$font-path}/Pridi-Medium.woff2') format('woff2'),
      url('#{$font-path}/Pridi-Medium.woff') format('woff'),
      url('#{$font-path}/Pridi-Medium.svg#Pridi-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

